<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Control Robot</title>
    <link rel="stylesheet" href="../css/styles.css">
    <%- include('../partials/head'); %>
</head>
<body>
    <main class="index__mainContainer">
        <h1 class="nodeTitle">Simple Control Robot</h1>
        <button class="btnLink" id="btnForward">Forward</button>
        <button class="btnLink" id="btnRight">Right</button>
        <button class="btnLink" id="btnLeft">Left</button>
        <button class="btnLink" id="btnBack">Back</button>
    </main>
    <script src="../js/index.js"></script>
</body>
</html>